html {    
  background-image: url('../img/backgroud.png'); 
  background-size: cover; 
}
body {
  font-family: 'Futura'; 
  font-size:large;
}

.loginLeft {
    margin-top: 30px;
}
.appTitle {
    padding: 1px;
    font-size: 15px;
    font-style: initial;
    font-family:Arial, Helvetica, sans-serif ; 
    font-weight: 1000; 
    color: rgba(252,198,62,255);  
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}
.alertTitle {
  font-weight: 1000; 
  color: rgba(252,198,62,255);  
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);  
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #efefef;
    color: #817d7d;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 15px;
  }
  
  .login-button-container {            
    display: flex;
    align-items: center;
    text-align: right;
    margin-left: auto;
    margin-right: 10px;    
    padding-left: 100px;
    
  }
  
  .login-button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    border-radius: 90px;
    cursor: pointer;
  }
  
  .invite-button {
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: larger;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    border-radius: 90px;
    cursor: pointer;
  }  

  .section {
    display: flex;
  }
  
  .column {
    flex: 1; 
    padding: 10px; 
    
  }

  .testimonial-section {
    display: flex;
    align-items: center; /* Alinha verticalmente os itens se um deles for mais alto */
    padding: 10px;
  }
  
  .testimonial-name {
    flex: 1; /* Dá à coluna do nome menos espaço */
    font-weight: bold; /* Opcional: torna o nome em negrito */
    margin-right: 20px; /* Espaço entre o nome e o depoimento */
  }
  
  .testimonial-text {
    flex: 3; /* Dá à coluna do depoimento mais espaço */
  }
  .ul-items {
    list-style-type: none;
  }

  input, textarea {
    border-radius: 10px; /* Ajuste este valor para aumentar ou diminuir a curvatura */
    border: 1px solid #ccc; /* Aparência da borda */
    padding: 10px; /* Espaçamento interno para o texto não ficar muito próximo da borda */
  
    width: 100%;
  }


  @media (max-width: 800px) {
    .section {
      flex-direction: column;
    }
  }

  .sec-1 {
    background-image: linear-gradient(to right, #f5f5f5,#bdcbe9, #9aaed8);
    color: #3a52bf;    
  }
  .sec-2 {
    font-size: larger;
    font-weight: bold; 
    background-color: #f1f4fa;
    text-decoration: double;
    color: #3a52bf;  
    text-align: center;
  }
  .sec-3 {
    background-image: linear-gradient(to right, #f5f5f5,#bdcbe9, #9aaed8);
    color: #3a52bf;    
    text-align: center;
  }
  h1 {
    color: #3a52bf;    
  }
  h3 {
    color: #3a52bf;   
    text-align: center; 
  }
  h4 {
    color: #3a52bf;    
  }