body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para a página inicial (home) */
.home {
  text-align: center;
}

.home h1 {
  font-size: 44px;
  margin-bottom: 10px;
}

.home p {
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

.home button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home button:hover {
  background-color: #0056b3;
}

.list-container {
  display: flex;
}

.horizontal-list {
  display: flex;
  list-style-type: none;
  padding-left: 2%;
}

.horizontal-list li {
  margin-right: 50px;
}


.avatar {
  width: 40px;
}
.router-content {
  margin-bottom: 60px; /* Ajuste a margem inferior conforme necessário */
}
.container {
  display: flex;
  justify-content: space-between;
}
.right-div {
  align-self: flex-end;
  vertical-align: middle ;
}
.button-link {
  display: inline-block;
  padding: 1px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vue:hover {
  filter: drop-shadow(0 0 2em #42b883aa);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: left;
  background-color: #1f2b41;
  color: #b1b1b1;
  padding: 10px;
}

.bolinha-verde {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 50%;
}
.bolinha-vermelha {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}