/* style.css */

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para a página inicial (home) */
.home {
  text-align: center;
}

.home h1 {
  font-size: 44px;
  margin-bottom: 10px;
}

.home p {
  font-size: 18px;
  margin-bottom: 20px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: justify;
}

.home button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home button:hover {
  background-color: #0056b3;
}

.list-container {
  display: flex;
}

.horizontal-list {
  display: flex;
  list-style-type: none;
  padding-left: 2%;
}

.horizontal-list li {
  margin-right: 50px;
}

/* Outros estilos para diferentes partes do site... */
